.corNavBar{
    background-color: rgba(79, 130, 200, 1);
    color: white;
}

.teste{
    background-color: red;
}
.teste2{
    background-color: green;
}

.barraMenuTopo{
    margin-left:100px;
    margin-top: -7px;
}
.corFonteNavBar .nav-link{
    color: white;
}
.barraMenuTopo{
    color: white;
    
}
@media (max-width:992px){
    .barraMenuTopo{
        margin-left: 0px;
    }
}

.tabs{    
    overflow: hidden;
    border: 1px solid black;    
}
.tabs button{
    background-color: rgba(79, 130, 200, 1);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.tabs button:hover{
    background-color: rgba(79, 130, 200, 0.2);
}

.tabs button.active{
    background-color: rgba(79, 130, 200, 0.9);
}

.conteudoTab{
    display: none;
    pad: 6px 12px;
    border-top: none;
}


.caixaFormCadastro{
    margin-top: 20px;
    border: 1px solid rgb(149, 183, 183);
    padding: 15px;
}

.distanciaTopo{    
    margin-top: 60px;
    border: none;
}
.distanciaTopoPainelMaster{    
    margin-top: 20px;
    border: none;
}
.colunaRetiradaPainelMaster{
    width: 90px;
    
}
.divObs{
    background-color: #01682B;
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tabela{
    font-size: 13px;
}
.tabela td{
    padding-top: 1px;
    padding-bottom: 1px;
}

@media (min-width:328px) and (max-width:728px){
    .divObs{
        background-color: #01682B;
        font-size: 18px;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

li a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
ul a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.tablinks{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#divFiltroValor{
    margin: 0;
    padding: 0;
    width: 100%;
}