.fundoLogin{
    background-color: white;
}

.fundoCaixaLogin{
    
    width: auto;
    height: auto;
}
.SubTituloLogin{
    color: rgba(236, 188, 78, 1);
    font-size: 30px;
    font-family: 'Kanit', 'sans-serif';
}
.teste{
    background-color: red;
    border: 1px solid green;
}
.tamanhoLogo{
    height: 150px;;
}
.logo{
    margin: 0 auto;
}

@media (min-width:320px) and (max-width:350px){
    .SubTituloLogin{
        font-size: 25px;
    }    
}
@media (min-width:1980){
    body{
        font-size: 500px;
    }
}
@media (max-width:768px){
    .tamanhoLogo{
        height: 85px;
        width: 350px;        
    }    
}
.mensagemErro{
    font-style: italic;
}
