#tabelaPainel #corpoTabela tr{
    height: 45px;
}
@media (max-width:508px){
    #logoEmpresa{
        display: none;
        width: 0;
    }
    #logoAlfameta{
        width: 0;
        display: none;
    }
    #divTitulo{
        width: 100%;
    }
    #divTitulo #tituloPainel{
        width: 100%;        
    }
}