.teste{
    background-color: red;
    border: 1px solid green;
    
}
.ocultaMenuAdministrador{
    display: none;
}
.exibeMenuAdministrador{
    display: block;
}


iframe{
    display: block;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    
}

#divFrameBi{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}
#divFrameBi iframe{
   height: 650px;
   left: 0;
   position: absolute;
   top: 0;
   width: 0 auto;
}

.tituloBi{
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
}


@media (max-width:768px){
    #divFrameBi iframe{
       border: 0;
       height: 80%;
       left: 0;
       position: absolute;
       top: 0;
       width: 0 auto;       
    }
}